<!DOCTYPE html>
<html lang="en">

<body>

<h3>Full Cycle Rocks!</h3>
    <div>
<p> 
    <h3>-Lista de nomes cadastrada no banco de dados.<h3>
    <% peoples.forEach(people=> { %>
        <h3>
            <%= people.name %>
        </h3>
        <% }) %>
    </div>
</p>
</body>

</html>